* {
  box-sizing: border-box;
}

body {
  background-color: #363636;
  padding: 10px;
  font-family: "Inter";
}

.matrix-header h1 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 120px;
  letter-spacing: 5px;
  margin: 0;
  user-select: none;
  color: #ececec;
}
